<a href="https://colab.research.google.com/github/NathanNTC/Colab/blob/main/FilmesREGEX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd

# Carregar o arquivo CSV
df = pd.read_csv('movies.csv')

In [44]:
titulos = df['Name'].str.extract(r'([^\(\[]+)', expand=False)

print(titulos)

0               Hazbin Hotel
1               Breaking Bad
2                    ShÅgun
3                     Arcane
4                  One Piece
                ...
1920    America's Got Talent
1921              The I-Land
1922       The D'Amelio Show
1923             Big Brother
1924                   Velma
Name: Name, Length: 1925, dtype: object

In [41]:
ano_desejado = 2006

# Filtrar as séries lançadas no ano desejado
filmes_ano = df[df['First_air_date'].str.endswith(str(ano_desejado))]

print(filmes_ano)

      Unnamed: 0      Id                                  Name  \
20            20   13916                            Death Note
99            99    1044                          Planet Earth
125          125   35753                  The Familiar of Zero
137          137   37585       Kenichi: The Mightiest Disciple
209          209   61752                     Hellsing Ultimate
260          260   31724  Code Geass: Lelouch of the Rebellion
308          308  100087         Hasta que la plata nos separe
453          453    1405                                Dexter
474          474    1043           Ouran High School Host Club
477          477    6782                                 Pucca
512          512   12406                     Powerpuff Girls Z
536          536    2490                          The IT Crowd
560          560   11721                     La Fea MÃ¡s Bella
625          625   79699                  La hija del Mariachi
686          686    4278                   Friday Night Lights
697          697   12598                          Black Lagoon
789          789   42511     The Melancholy of Haruhi Suzumiya
866          866   11767            Yu-Gi-Oh! Capsule Monsters
884          884    1447                                 Psych
945          945    2260                   H2O: Just Add Water
983          983    3868                         The Lost Room
988          988    4620                                Eureka
1043        1043    2973                          Life on Mars
1270        1270    3016   Without Breast There Is No Paradise
1302        1302    7821         El Chavo: The Animated Series
1307        1307    1097                            Ergo Proxy
1361        1361    1639                                Heroes
1406        1406    4608                               30 Rock
1413        1413     365                               Jericho
1516        1516     424                             Torchwood
1592        1592   36250                              xxxHOLiC
1633        1633    4610                        Hannah Montana
1686        1686     219                               Kyle XY
1845        1845    3934                Mickey Mouse Clubhouse
1908        1908    4626                            Ugly Betty
1920        1920    4551                  America's Got Talent

                                    Original_name  Popularity First_air_date  \
20                                     DEATH NOTE     142.683     04-10-2006
99                                   Planet Earth      40.533     05-03-2006
125                            ã‚¼ãƒ­ã®ä½¿ã„é­”      67.025     03-07-2006
137             å²ä¸Šæœ€å¼·ã®å¼Ÿå­ã‚±ãƒ³ã‚¤ãƒ     105.074     07-10-2006
209         ãƒ˜ãƒ«ã‚·ãƒ³ã‚° ã‚¢ãƒ«ãƒ†ã‚£ãƒ¡ãƒƒãƒˆ      50.123     10-02-2006
260   ã‚³ãƒ¼ãƒ‰ã‚®ã‚¢ã‚¹ åé€†ã®ãƒ«ãƒ«ãƒ¼ã‚·ãƒ¥     137.594     05-10-2006
308                 Hasta que la plata nos separe      76.520     22-05-2006
453                                        Dexter     359.706     01-10-2006
474                      æ¡œè˜­é«˜æ ¡ãƒ›ã‚¹ãƒˆéƒ¨      40.514     05-04-2006
477                                         Pucca      34.545     18-09-2006
512   å‡ºã¾ã—ãŸã£ï¼ãƒ‘ãƒ¯ãƒ‘ãƒ•ã‚¬ãƒ¼ãƒ«ã‚ºZ      67.199     01-07-2006
536                                  The IT Crowd     119.226     03-02-2006
560                             La Fea MÃ¡s Bella     368.533     23-01-2006
625                          La hija del Mariachi     129.727     04-09-2006
686                           Friday Night Lights     142.526     03-10-2006
697                                  BLACK LAGOON     107.431     09-04-2006
789                      æ¶¼å®®ãƒãƒ«ãƒ’ã®æ†‚é¬±      57.136     03-04-2006
866                    Yu-Gi-Oh! Capsule Monsters      27.090     09-09-2006
884                                         Psych     404.933     07-07-2006
945                           H2O: Just Add Water     110.028     07-07-2006
983                                 The Lost Room      28.894     11-12-2006
988                                        Eureka     157.921     18-07-2006
1043                                 Life on Mars      65.660     09-01-2006
1270                    Sin tetas no hay paraÃ­so      25.348     16-08-2006
1302                             El Chavo Animado     159.711     21-10-2006
1307                     ã‚¨ãƒ«ã‚´ãƒ—ãƒ©ã‚¯ã‚·ãƒ¼      60.632     25-02-2006
1361                                       Heroes     230.446     25-09-2006
1406                                      30 Rock     243.829     11-10-2006
1413                                      Jericho      86.208     20-09-2006
1516                                    Torchwood     119.610     22-10-2006
1592                             XXX ãƒ›ãƒªãƒƒã‚¯      61.133     06-04-2006
1633                               Hannah Montana     303.983     24-03-2006
1686                                      Kyle XY      65.244     26-06-2006
1845                       Mickey Mouse Clubhouse     198.644     05-05-2006
1908                                   Ugly Betty     124.708     28-09-2006
1920                         America's Got Talent     314.937     21-06-2006

      Vote_average  Vote_count
20           8.639        3863
99           8.537        1001
125          8.517         548
137          8.500         428
209          8.428         564
260          8.400         679
308          8.307         365
453          8.190        3904
474          8.172         201
477          8.169         551
512          8.150         216
536          8.124        1250
560          8.100         558
625          8.050        1443
686          8.008         252
697          7.996         395
789          7.900         242
866          7.900         284
884          7.852         710
945          7.792         554
983          7.766         411
988          7.760         574
1043         7.724         249
1270         7.549         226
1302         7.520         444
1307         7.517         288
1361         7.472        2136
1406         7.423         627
1413         7.400         442
1516         7.312         463
1592         7.200         782
1633         7.162         619
1686         7.091         313
1845         6.762         302
1908         6.208         207
1920         5.600         239

In [37]:
# Verificar se os IDs das séries seguem um formato específico (exemplo: 5 dígitos)
ids_validos = df['Id'].astype(str).str.match(r'\d{5}')

print(ids_validos)

0        True
1       False
2        True
3        True
4        True
        ...
1920    False
1921     True
1922     True
1923     True
1924     True
Name: Id, Length: 1925, dtype: bool

In [45]:
letra_inicial = 'A'

# Filtrar as séries com nome iniciando com a letra especificada
filmes_letra = df[df['Name'].str.contains(fr'^{letra_inicial}', case=False, regex=True)]

print(filmes_letra)

      Unnamed: 0      Id                        Name  \
3              3   94605                      Arcane
5              5     246  Avatar: The Last Airbender
8              8   70785              Anne with an E
15            15    1429             Attack on Titan
24            24  135157            Alchemy of Souls
...          ...     ...                         ...
1890        1890  100444              Adult Material
1900        1900   35339                    Alcatraz
1910        1910   42878            Anger Management
1913        1913   79130                Another Life
1920        1920    4551        America's Got Talent

                   Original_name  Popularity First_air_date  Vote_average  \
3                         Arcane      89.432     06-11-2021         8.749
5     Avatar: The Last Airbender     150.062     21-02-2005         8.719
8                 Anne with an E     114.302     19-03-2017         8.689
15               é€²æ’ƒã®å·¨äºº     142.252     07-04-2013         8.660
24                        í™˜í˜¼     137.866     18-06-2022         8.637
...                          ...         ...            ...           ...
1890              Adult Material      31.034     05-10-2020         6.500
1900                    Alcatraz      63.860     16-01-2012         6.329
1910            Anger Management     187.784     28-06-2012         6.200
1913                Another Life      51.524     25-07-2019         6.087
1920        America's Got Talent     314.937     21-06-2006         5.600

      Vote_count
3           3668
5           3822
8           4518
15          5965
24           475
...          ...
1890         244
1900         252
1910         208
1913         351
1920         239

[100 rows x 8 columns]

In [42]:
palavra_chave = 'last'

# Criar uma máscara booleana para os filmes que contêm a palavra-chave no nome
mask = df['Name'].str.contains(fr'\b{palavra_chave}\b', case=False, regex=True)

# Filtrar o DataFrame com base na máscara e contar o número de ocorrências
total_filmes_palavra_chave = mask.sum()

print(total_filmes_palavra_chave)

16